body{
    background-image: url("../imagens/oleo.jpg");
}

div#formularioCadastro{
    width: 100%;
    height: 58%;
    margin: 6px;
    padding: 4px;
}

div#formularioLogin{
    width: 100%;
    margin: 6px;
    padding: 4px;
}

table#cadastroTable td {
    padding: 1px;
}

table#loginTable td {
    padding: 1px;
}

table#vrfTable td {
    padding: 1px;
}

div#verificar{
    text-align: center;
    width: 100%;
    margin: 6px;
    padding: 4px;
    margin-top: 18%;
}

div#caixaLogin{
    background-color: rgba(255, 255, 255, 0.93);
    width: 267px;
    margin: 0 auto;
    height: 145px;
    margin-top: 17%;
    border-radius: 10px 10px 10px 10px;
}
div#caixaCadastro{
    background-color: rgba(255, 255, 255, 0.93);
    width: 346px;
    margin: 0 auto;
    margin-top: 9%;
    border-radius: 10px 10px 10px 10px;
}
div#faixa{
    background-color: rgba(255, 255, 255, 0.93);
    width: 50%;
    height: 37%;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}

div#caixaServicos{
    background-color: rgba(255, 255, 255, 0.93);
    width: 29%;
    height: 61%;
    margin: 0 auto;
    margin-top: 7%;
    border-radius: 10px 10px 10px 10px;;
}

table#servicosTable td{
    padding: 1px;
}

div#formularioServico{
    width: 100%;
    height: 58%;
    margin: 6px;
    padding: 4px;
}